sqlalchemy~=1.4.46
python-dotenv~=0.21.0
fastapi~=0.89.1
uvicorn
pyyaml
dependency-injector
strawberry-graphql
alembic~=1.9.1
passlib~=1.7.4
python-jose
pymysql
python-multipart
bcrypt
pydantic~=1.10.4
gql[aiohttp]~=3.4.0